<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>定义源数据</title>
    <link type="text/css" rel="stylesheet" href="../frame/bootstrap/css/bootstrap.min.css"></link>
    <link href="../css/common.css" rel="stylesheet"></link>
    <link href="../js/main.css" rel="stylesheet"></link>
    <style>
        .page-header_fu{
            padding-bottom: 9px;
            margin: 20px 0 15px;
            border-bottom: 1px solid #dad9ee;
        }
        .form-group-height{
            height: 30px;
        }

        .control-label{
            top: 7px;
        }
    </style>
</head>
<body>
<!--页眉-->
<header class="header">
    <div class="container">
        <!--门户logo-->
        <div class="brand clearfix">
            <div class="logo">
                <div class="azure-logo">
                    <a id="navigation-azure-logo-id" href="http://datalist.cma.cn/">公共气象服务中心业务全流程监控系统</a>
                </div>
            </div>
            <div class="top-nav">
                <a class="search" id="top-nav_search" href="http://datalist.cma.cn/index.html#" title="搜索">
                    <i class="icon icon-search"></i>
                </a>
                <a class="nav-toggle" id="top-nav_nav" href="http://datalist.cma.cn/index.html#" title="导航">
                    <i class="icon icon-navigation"></i>
                </a>
            </div>
        </div>
        <!--门户logo end-->
        <!--导航菜单-->
        <nav class="nav auto-scroll" data-fullscreen="true" data-top="header" style="height: auto;">
            <ul class="accordian-menu" data-accordiandisabled="desktop" data-accordianinteraction="exclusive">
                <li class="nav-index current"><a id="nav_homepage" href="http://datalist.cma.cn/" title="首页"><span>首页</span></a></li>
            </ul>
        </nav>
        <!--导航菜单 end-->
    </div>
</header>
<!--header-->
<div class="container">
    <div class="page-header">
        <h1>定义源数据</h1>
    </div>

    <div class="table-responsive">
        <div class="page-header_fu" >
            <h4>配置</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-inline" style="margin-left: 10px;">
                    <div class="form-group" >
                        <label for="dataName">数据名:</label>
                        <input type="email" class="form-control" id="dataName" placeholder="数据名"/>
                    </div>
                    <div class="form-group">
                        <label for="otherName">别名:</label>
                        <input type="email" class="form-control" id="otherName" placeholder="别名"/>
                    </div>
                    <div class="form-group">
                        <label for="ioName">文件名:</label>
                        <input type="email" class="form-control" id="ioName" placeholder="文件名"/>
                    </div>
                    <div class="form-group">
                        <label for="ioName">路径:</label>
                        <input type="email" class="form-control" id="path" placeholder="路径"/>
                    </div>
                    <div class="form-group">
                        <label for="ip">ip:</label>
                        <input type="email" class="form-control" id="ip" placeholder="ip"/>
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label for="ip">topic:</label>
                        <input type="email" class="form-control" id="topic" placeholder="topic"/>
                    </div>
                    <button type="submit" class="btn btn-default" style="width: 50px;" onclick="addSourceData()">添加</button>
                </div>
            </div>
        </div>
        <p style="height: 30px;"></p>
        <div class="page-header_fu" >
            <h4>已配置列表</h4>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <th>数据名</th>
            <th>别名</th>
            <th>文件名</th>
            <th>路径</th>
            <th>IP</th>
            <th>topic</th>
            <th>操作</th>
            </thead>
            <tbody id="data_module_relation_tab">
            </tbody>
        </table>
    </div>

</div>

<!-- motel-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="height: 100px;width: 200px;">
            <input type="hidden" id="hideVlue"/>
            <button class='btn btn-danger' data-dismiss="modal" onclick="deletSourceData()">确定删除</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
        </div>
    </div>
</div>
<!--页脚-->
<footer class="footer">
    <div class="container">
        <ul class="accordian-menu" data-accordiandisabled="desktop">
            <li class="follow-us">
                <h3 class="menu-title footer-title expand">关注我们<i class="icon icon-arrow-top"></i></h3>
                <div class="footer-qrcode clearfix hidden-xs hidden-sm">
                    <div class="qrcode-wrapper">
                        <img src="qrcode.jpg" alt="qrcode">
                        <span>欢迎关注质控报告微信公众号</span>
                    </div>
                </div>
            </li>
            <li>
                <h3 id="footer_support" class="menu-title footer-title">支持<i class="icon icon-arrow-top"></i></h3>
                <ul class="menu-child">
                    <li>
                        <a id="footer-contact-id" href="#" title="联系我们">
                            联系我们
                        </a>
                    </li>
                    <li>
                        <a id="footer-plans-id" href="#" title="支持计划">
                            支持计划
                        </a>
                    </li>
                    <li>
                        <a id="footer-service-dashboard-id" href="#" title="服务仪表盘">
                            服务仪表盘
                        </a>
                    </li>
                    <li>
                        <a id="footer-legal-id" href="#" title="法律">
                            法律
                        </a>
                    </li>
                    <li>
                        <a id="footer-sla-id" href="#" title="服务级别协议">
                            服务级别协议
                        </a>
                    </li>
                    <li>
                        <a id="footer-icp-id" href="#" title="ICP 备案">
                            ICP 备案
                        </a>
                    </li>
                    <li>
                        <a id="footer-support-faq-id" href="#" title="常见问题">
                            常见问题
                        </a>
                    </li>
                    <li>
                        <a id="footer-news-id" href="#" title="最新公告">
                            最新公告
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="数据清单编辑器">
                            数据清单编辑器
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
<!--页脚 end-->
<!-- core js start -->
<script src="../js/core/jquery-1.8.3.min.js"></script>
<script src="../frame/bootstrap/js/bootstrap.min.js"></script>
<!-- core js end -->
<script src="../js/subscriptioncenter/subc_sourcedata.js"></script>
</body>
</html>