<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../frame/bootstrap/css/bootstrap.min.css"></link>
    <link type="text/css" rel="stylesheet" href="../css/laps/style_laps.css"></link>
    <link href="../css/common.css" rel="stylesheet"></link>
</head>
<body>
<style>
    .block-wrap {
        position: relative;
        float: left;
        width: 248px;
    }
</style>
<!--header-->
<div class="top">
    <div class="logo">
        公服中心业务全流程监控系统
    </div>

    <!--导航菜单-->
    <nav class="nav auto-scroll" data-fullscreen="true" data-top="header" style="margin-left: 100px">
        <ul class="nav navbar-nav" data-accordiandisabled="desktop" data-accordianinteraction="exclusive">
            <li class="nav-index current"><a id="nav_homepage" href="http://10.30.17.171:8090" title="首页"><span>首页</span></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>数据源</span><b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li><a class="link-1" href="http://10.30.17.171:9091/dataSourceSetting/"><span>配置</span></a></li>
                    <li><a class="link-2" href="http://10.30.17.171:9091/dataSource/"><span>告警列表</span></a></li>
                    <li><a class="link-3" href="http://test.tvhf.com:8080/"><span>雷达基数据</span></a></li>
                    <li><a class="link-4" href="http://10.14.83.52:8082/SURF_GLB_MUL_HOR"><span>CIMISS</span></a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>重点业务</span><b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li class="nav-index current"><a class="link-1" href="/fzjc/lct"><span>气象信息决策支持系统</span></a></li>
                    <li class="nav-index current"><a class="link-2" href="/laps/lct"><span>LAPS</span></a></li>
                    <li class="nav-index current"><a class="link-3" href="/MQPF/"><span>MQPF</span></a></li>
                    <li class="nav-index current"><a class="link-4" href="/RGF/"><span>RGF</span></a></li>
                    <li class="nav-index current"><a class="link-5" href="/OCF/"><span>OCF</span></a></li>
                </ul>
            </li>
            <li><a class="dropdown-toggle nav-index current" data-toggle="dropdown" href="#"><span>告警中心</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="nav-index current"><a class="link-1" href="http://10.30.17.171:9090/pjpz/"><span>配置</span></a></li>
                    <li class="nav-index current"><a class="link-2" href="http://10.30.17.171:9091/alarmBrowse/"><span>查看</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--<div class="nav">-->
        <!--&lt;!&ndash;openWindow&ndash;&gt;-->
        <!--<div class="dropdown" style="float: left;">-->
            <!--<a id="fzjc" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"-->
               <!--aria-expanded="false">-->
                <!--辅助决策-->
                <!--<span class="caret"></span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu" aria-labelledby="fzjc">-->
                <!--<li><a onclick="openWindow('../fzjc/sxt')">时效图</a></li>-->
                <!--<li class="disabled"><a onclick="openWindow('../fzjc/lct')">流程图</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="dropdown" style="float: left;">-->
            <!--<a id="laps" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"-->
               <!--aria-expanded="false">-->
                <!--LAPS-->
                <!--<span class="caret"></span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu" aria-labelledby="laps">-->
                <!--<li><a onclick="openWindow('../laps/sxt')">时效图</a></li>-->
                <!--<li class="disabled"><a onclick="openWindow('../laps/lct')">流程图</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="dropdown" style="float: left;">-->
            <!--<a id="mqpf" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"-->
               <!--aria-expanded="false">-->
                <!--MQPF-->
                <!--<span class="caret"></span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu" aria-labelledby="mqpf">-->
                <!--<li><a href="#">时效图</a></li>-->
                <!--<li class="disabled"><a href="#">流程图</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!--header end-->
<div class="process">
    <table class="process-table" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100px">
                <div class="bg-grey">数据源</div>
            </td>
            <td width="30px">&nbsp;</td>
            <td width="130px">
                <div class="bg-grey">采集/前处理/地面分析</div>
            </td>
            <td width="30px">&nbsp;</td>
            <td width="130px">
                <div class="bg-grey">加工</div>
            </td>
            <td width="30px">&nbsp;</td>
            <td width="130px">
                <div class="bg-grey">图形加工</div>
            </td>
            <td width="30px">&nbsp;</td>
            <td width="130px">
                <div class="bg-grey">分发/中转</div>
            </td>
            <td width="30px">&nbsp;</td>
            <td width="130px">
                <div class="bg-grey">服务/产品检验</div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="title-grey block-wrap" data-toggle="modal" data-target="#baseSourceModal"
                     data-ip="10.30.16.242"
                     id="collect">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <!--<li class="red"></li>-->
                        <li class="green"></li>
                        <li class="green"></li>
                    </ul>
                    <span>10.30.16.242</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="title-grey block-wrap" data-ip="10.30.16.242">
                    <span>10.30.16.242</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td >
                <div class="title-grey block-wrap" data-toggle="modal" data-target="#baseSourceModal"
                     data-ip="10.30.16.224"
                     id="working">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <!--<li class="red"></li>-->
                        <li class="green"></li>
                        <li class="green"></li>
                    </ul>
                    <span>10.30.16.224</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td >
                <div class="title-grey block-wrap" style="width: 170px;" data-toggle="modal"
                     data-target="#baseSourceModal" data-ip="10.30.16.220"
                     id="send">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <!--<li class="red"></li>-->
                        <li class="green"></li>
                        <li class="green"></li>
                    </ul>
                    <span style="margin-left: 50px;">10.30.16.220</span>
                </div>
                <div class="title-grey block-wrap" style="width: 170px;" data-toggle="modal"
                     data-target="#baseSourceModal" data-ip="10.0.74.226"
                     id="sendDMZ">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <!--<li class="red"></li>-->
                        <li class="green"></li>
                        <li class="green"></li>
                    </ul>
                    <span style="margin-left: 50px;">10.0.74.226</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td >
                <div class="title-grey block-wrap">
                    <ul>
                        <!--<li class="green"></li>
                        <li class="green"></li>
                        <li class="red"></li>
                        <li class="green"></li>-->
                    </ul>
                    <span style="margin-left: 50px;">PMSC-CVS</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="bg-blue">CIMISS源</div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey" id="CIMISS_采集_10-30-16-242" data-toggle="modal" data-target="#pubModal"><span>CIMISS实况采集</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="L1S_前处理_10-30-16-242" data-toggle="modal" data-target="#pubModal"><span>生成降水产品</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="LapsRain1Hour_加工_10-30-16-224" data-toggle="modal" data-target="#pubModal">
                    <span>降水Rain1Hour</span></div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_PRCPV_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">降水PRCPV</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_PRCPV_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">降水PRCPV</span></div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey"><span>共享服务</span></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="arrow-group2 arrow-right">
                    <div class="group-break-top"></div>
                </div>
            </td>
            <td>
                <div class="list-grey" id="T639_采集_10-30-16-242" data-toggle="modal" data-target="#pubModal">
                    <span>背景场采集</span></div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="LSX_前处理_10-30-16-242" data-toggle="modal" data-target="#pubModal"><span>生成其他要素</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="LapsTD_加工_10-30-16-224" data-toggle="modal" data-target="#pubModal"><span>露点温度TD</span>
                </div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_TD_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">露点温度TD</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_TD_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">露点温度TD</span></div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td><div class="list-grey"><span>产品检验</span></div></td>
        </tr>
       <!-- <tr class="triangle-row">
            <td>&nbsp;</td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td>
                <div class="list-bottom"></div>
                &lt;!&ndash;<div class="title-grey triangle">▼</div>&ndash;&gt;
            </td>
            <td>&nbsp;</td>
            &lt;!&ndash;<td>&nbsp;</td>&ndash;&gt;
            <td>&nbsp;</td>
            &lt;!&ndash;<td>&nbsp;</td>&ndash;&gt;
            <td>&nbsp;</td>
            &lt;!&ndash;<td>&nbsp;</td>&ndash;&gt;
        </tr>-->
        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td><div class="list-bottom"></div></td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="GR2_前处理_10-30-16-242" data-toggle="modal" data-target="#pubModal"><span>生成数据产品(GR2)</span>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="LapsWSWD_加工_10-30-16-224" data-toggle="modal" data-target="#pubModal"><span>风WSWD</span>
                </div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_EU4_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">风EU4</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_EU4_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">风EU4</span></div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="list-bottom"></div>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><div class="list-bottom"></div></td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" id="LapsTRH_加工_10-30-16-224" data-toggle="modal" data-target="#pubModal"><span>温度湿度TRH</span>
                </div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_T_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">气温T</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_T_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">气温T</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <div class="bg-blue">背景场源</div>
            </td>
            <td>
                <div class="arrow-group">
                    <div class="group-line"><em></em></div>
                </div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><div class="list-bottom"></div></td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_RH_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">相对湿度RH</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KMGEO_RH_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">相对湿度RH</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KM_ME_分发_10-30-16-220"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">格点产品GR2</span></div>
                <div class="list-grey" style="width: 170px;float: left;" id="LAPS3KM_ME_分发_10-0-74-226"
                     data-toggle="modal" data-target="#pubModal"><span style="margin-left: 10px;">格点产品GR2</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="list-bottom" style="width: 340px;"></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="left-bd"></div>
            </td>
            <td>
                <div class="title-grey block-wrap">
                    <ul>
                        <!--<li class="green"></li>
                        <li class="green"></li>
                        <li class="red"></li>
                        <li class="green"></li>-->
                    </ul>
                    <span style="margin-left: 50px;">10.30.16.235</span>
                </div>
            </td>
            <td colspan="3">&nbsp;
            </td>
            <td>&nbsp;</td>

        </tr>
        <tr>
            <td></td>
            <td>
                <div class="arrow-group2 arrow-right">
                    <div class="group-break-bottom"></div>
                </div>
            </td>
            <td>
                <div class="list-grey"><span>背景场采集</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>
        <tr>
            <td>
                <div class="bg-blue">实时库源</div>
            </td>
            <td>
                <div class="arrow-right"></div>
            </td>
            <td>
                <div class="list-grey"><span>实时库实况采集</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="triangle-row">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="title-grey triangle">▼</div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey"><span>生成降水产品</span></div>
            </td>
            <td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="list-grey"><span>生成其他要素</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td>
                <div class="list-grey"><span>生成数据产品</span></div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="pubModal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-bg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class='glyphicon glyphicon-remove' aria-hidden='true' style="color: #d9534f;"></span>
                </button>
                <h4 class="modal-title" id="modalHeader">Modal title</h4>
            </div>
            <div id="modalBody" class="modal-body modal-body-h500" style="color: #fff">
                <table class="table table-bordered navbar-fixed-to">
                    <thead style="color: #17c4df;" id="history_thead">
                    <tr>
                        <th style="width: 60px;">编号</th>
                        <th>文件名</th>
                        <th style="width: 245px;">资料时次</th>
                        <th style="width: 70px;">耗时</th>
                        <th style="width: 60px;">状态</th>
                        <th>信息</th>
                    </tr>
                    </thead>
                    <tbody id="history_tbody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div id="sizeNumberButton" class="btn-group" style="float: left;">
                    <a id="pageSizeNumber" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        展示数量：10
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sizeNumber" id="ddl_pageSize">
                        <li><a href="#">10</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">20</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                <input id="moduleHidden" type="hidden" value=""/>
                <input id="subTypeHidden" type="hidden" value=""/>
                <input id="pageSizeHidden" type="hidden" value="10"/>
                <input id="ipHidden" type="hidden" value=""/>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->


<!-- Modal2 -->
<div class="modal fade bs-example-modal-lg" id="baseSourceModal" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-bg" role="document">
        <div class="modal-content">

            <div class="modal-header" style="border-bottom:0px">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
						<span class='glyphicon glyphicon-remove' aria-hidden='true'
                              style="color: #d9534f;"></span>
                </button>
                <h2 class="modal-title" style="font-weight:bold;text-align:center" id="baseSourceModalHeader">
                    基础资源实时运行情况(10.20.40.132)</h2>
            </div>

            <div id="modalBody2" class="modal-body modal-body-h370"
                 style="color: #fff">
                <div text-align="center">
                    <div class='col-sm-12 col-md-6'>
                        <div class="panel panel-card">
                            <label class="panel-title-lable" style="margin: 10px" id="cpu">CPU使用率</label>
                            <div class="panel-body">
                                <div id="cpuUsed" style="height: 200px;"></div>
                                <div id="tooltip-cpu" class="panel"
                                     style="width: 200px; height: 80px; position: absolute; display: none; opacity: 1">
										<span
                                                style="position: absolute; font-size: 12px; left: 8px; top: 8px;"></span>
                                    <br/>
                                    <div></div>
                                </div>
                                <div id="cpuUsed-table" style="height: 70px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-card">
                            <label class="panel-title-lable" style="margin: 10px"
                                   id="memory">内存使用率</label>
                            <div class="panel-body">
                                <div id="memoryUsed" style="height: 200px;"></div>
                                <div id="tooltip-p" class="panel"
                                     style="width: 200px; height: 80px; position: absolute; display: none; opacity: 1">
										<span
                                                style="position: absolute; font-size: 12px; left: 8px; top: 8px;"></span>
                                    <br/>
                                    <div></div>
                                </div>
                                <div id="memoryUsed-table" style="height: 70px"></div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-12 col-md-6'>
                        <div class="panel panel-card">
                            <label class="panel-title-lable" style="margin: 10px" id="net">网络流量</label>
                            <div class="panel-body">
                                <div id="netUsed" style="height: 200px;"></div>
                                <div id="netUsed-table" style="height: 70px"></div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-12 col-md-6'>
                        <div class="panel panel-card">
                            <label class="panel-title-lable" style="margin: 10px" id="disk">磁盘使用情况</label>
                            <div class="panel-body">
                                <div id="directoryUsed"
                                     style="height: 270px;overflow-x: hidden;overflow-y: auto;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- core js start -->
<script src="../js/core/jquery-1.8.3.min.js"></script>
<script src="../frame/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/tool/publicTool.js"></script>
<!-- core js end -->
<!-- laps start -->
<script src="../frame/d3/d3.v3.min.js"></script>
<script src="../js/tool/memoryUsed.js"></script>
<script src="../js/tool/cpuUsed.js"></script>
<script src="../js/tool/diskUsage_new.js"></script>
<script src="../js/tool/netUsed.js"></script>
<script src="../js/laps/main.js"></script>
<!-- laps end -->
</body>
</html>
