<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>元数据配置</title>
	<link rel="stylesheet" href="../css_option/bootstrap_3.3.7.css" />
	<link rel="stylesheet" href="../css/bootstrap-table.min.css" />
	<link rel="stylesheet" href="../css/bootstrap-select.css" />
	<link rel="stylesheet" href="../css_option/bootstrap.min.css" />
	<link rel="stylesheet" href="../css_option/main.css" />

	<style>
		.selectInsertData{
			float: left;
			margin-right: 10px;
			width: 130px;
		}
		.shade1{background: -webkit-linear-gradient(white, rgba(191, 233, 255, 0.93)); /* Safari 5.1 - 6.0 */
			background: -o-linear-gradient(white,rgba(191, 233, 255, 0.93)); /* Opera 11.1 - 12.0 */
			background: -moz-linear-gradient(white,rgba(191, 233, 255, 0.93)); /* Firefox 3.6 - 15 */
			background: linear-gradient(white,rgba(191, 233, 255, 0.93));}
		.bootstrap-table .table thead>tr>th {
			padding: 0;
			margin: 0;
			background: -webkit-linear-gradient(white, rgba(191, 233, 255, 0.93)); /* Safari 5.1 - 6.0 */
			background: -o-linear-gradient(white,rgba(191, 233, 255, 0.93)); /* Opera 11.1 - 12.0 */
			background: -moz-linear-gradient(white,rgba(191, 233, 255, 0.93)); /* Firefox 3.6 - 15 */
			background: linear-gradient(white,rgba(191, 233, 255, 0.93));
		}
	</style>
</head>
<body>
<header class="header">
	<div class="container">
		<!--门户logo-->
		<div class="brand clearfix">
			<div class="logo">
				<div class="azure-logo">
					<a id="navigation-azure-logo-id" href="http://datalist.cma.cn/">公共气象服务中心业务全流程监控系统</a>
				</div>
			</div>
			<div class="top-nav">
				<a class="search" id="top-nav_search" href="http://datalist.cma.cn/index.html#" title="搜索">
					<i class="icon icon-search"></i>
				</a>
				<a class="nav-toggle" id="top-nav_nav" href="http://datalist.cma.cn/index.html#" title="导航">
					<i class="icon icon-navigation"></i>
				</a>
			</div>
		</div>
		<!--门户logo end-->
		<!--导航菜单-->
		<nav class="nav auto-scroll" data-fullscreen="true" data-top="header" style="height: auto;">
			<ul class="accordian-menu" data-accordiandisabled="desktop" data-accordianinteraction="exclusive">
				<li class="nav-index current"><a id="nav_homepage" href="http://datalist.cma.cn/" title="首页"><span>首页</span></a></li>
			</ul>
		</nav>
		<!--导航菜单 end-->
	</div>
</header>
<div class="row" style="height: 650px;">
	<div class="col-md-12" style="height: 20px"></div>
	<div class="col-md-10 col-md-offset-1" style="height: 30px;border-bottom: solid 1px black">数据源 >>配置</div>
	<div id="toolbar" class="btn-group col-md-12">
		<button id="insertDataSourceBtn" type="button" class="btn btn-default" data-toggle="modal" data-target="#insertDataSource" >
			<span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>添加元数据
		</button>
		<button id="btn_edit" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>修改
		</button>
		<button id="btn_delete" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
		</button>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<table id="dataSourceTable"></table>
	</div>
</div>




	<!-- 模态框（Modal） -->
	<div class="modal fade" id="insertDataSource"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加元数据</h4>
				</div>
				<div class="modal-body">

					<div class="form-group" >
						<select id="IpAddrSelect" class="form-control selectInsertData" title="IP"></select>
						<select id="SendUserNameSelect" class="form-control selectInsertData" title="用户"></select>
						<select  id="fileNameSelect" class="form-control selectInsertData" ></select>
						<input type="text" id="fileNameHidden" value="123" onchange="fileNameChange()" style="display: none" />
						<button id="fileNameClear" type="button" class="btn btn-default btn-sm" >清空</button>
						<br/><hr/>

					</div>
					<div class="form-group">
						<span>数据名称</span>
						<input type="text" id="name" class="form-control" required="required" />
						<span>目录(涉及时间或变化请使用正则，如：/forme/2018/06/-->/forme/\\d{4}/\\d{2}/)</span>
						<input type="text" id="directory" class="form-control" required="required" />
						<span>文件名(涉及时间或变化请使用正则，如：/forme/2018/06/-->/forme/\\d{4}/\\d{2}/)</span>
						<input type="text" id="fileName" class="form-control" required="required" />

						<span>时间格式: </span>
						<select id="timeFormat" class="selectpicnew"
								style="margin-right: 10px;height: 27px;width: 120px">
							<option value="1"></option>
							<option>yyyyMMdd</option>
						<option>yyyyMMddHH</option>
						<option>yyyyMMddHHmm</option>
						<option>yyyyMMddHHmmss</option>
						<option>yyyyMMddHHmmssSSS</option>
					</select>
						<span>数据类型: </span>
						<select id="dataType" class="selectpicker"
								style="margin-right: 10px;height: 27px;width: 120px">
							<option>预报产品</option>
							<option>公服产品</option>
							<option>智能网络产品</option>
							<option>模式预报产品</option>
							<option>地面观测资料</option>
							<option>高空观测资料</option>
							<option>大气成分资料</option>
							<option>雷达观测资料</option>
							<option>卫星观测资料</option>
							<option>灾害预警产品</option>
							<option>服务产品</option>
							<option>其他产品</option>
						</select>
						<span>单位名称: </span>
						<select id="departmentName" class="selectpicker"
								style="margin-right: 10px;height: 27px;width: 120px">
							<option>气象中心(nmc)</option>
							<option>信息中心(nmic)</option>
							<option>卫星中心(nsmc)</option>
							<option>大探中心(moc)</option>
							<option>气候中心(ncc)</option>
							<option>公服中心(pmsc)</option>
							<option>华风集团(huafeng)</option>
						</select>
						<p></p>
						<span>电话</span>
						<input type="text" id="phone" class="form-control" required="required" />
						<span>影响业务</span>
						<input type="text" id="useDepartment" class="form-control" required="required" />
						<span>时次</span>
						<input type="text" id="moniterTimer" class="form-control" required="required" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" id="submitBtn" class="btn btn-primary">提交</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	编辑 -->
	<div class="modal fade" id="EditDataSource" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabelU" aria-hidden="true">
		<div class="modal-dialog" style="width: 800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabelU">编辑元数据</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">

						<span>数据名称</span> <input type="text" id="nameEdit" class="form-control" />
						<span>目录</span> <input type="text" id="directoryEdit" class="form-control" />
						<span>文件名</span> <input type="text" id="typeEdit" class="form-control" readOnly="true" />
						<span>FTP上传用户</span><input type="text" id="senderUserEdit" class="form-control" />
						<span>IP地址</span> <input type="text" id="ipAddrEdit" class="form-control" />
						<span>数据类型</span> <input type="text" id="dataTypeEdit" class="form-control" readonly="true"/>
						<span>单位名称</span><input type="text" id="departmentNameEdit" class="form-control" />
						<span>电话</span><input type="text" id="phoneEdit" class="form-control" />
						<span>影响业务</span><input type="text" id="useDepartmentEdit" class="form-control" />
						<span>时次</span><input type="text" id="moniterTimerEdit" class="form-control" />
						<input type="hidden" id="idEdit" class="form-control" />
						<input type="hidden" id="formattime" class="form-control" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" id="submitEdit" class="btn btn-primary">提交</button>
				</div>
			</div>
		</div>
	</div>
<!--页脚-->
<footer class="footer">
	<div class="container">
		<ul class="accordian-menu" data-accordiandisabled="desktop">
			<li class="follow-us">
				<h3 class="menu-title footer-title expand">关注我们<i class="icon icon-arrow-top"></i></h3>
				<div class="footer-qrcode clearfix hidden-xs hidden-sm">
					<div class="qrcode-wrapper">
						<img src="../imsg/qrcode.jpg" alt="qrcode" ></img>
						<span>欢迎关注质控报告微信公众号</span>
					</div>
				</div>
			</li>
			<li>
				<h3 id="footer_support" class="menu-title footer-title">支持<i class="icon icon-arrow-top"></i></h3>
				<ul class="menu-child">
					<li>
						<a id="footer-contact-id" href="#" title="联系我们">
							联系我们
						</a>
					</li>
					<li>
						<a id="footer-plans-id" href="#" title="支持计划">
							支持计划
						</a>
					</li>
					<li>
						<a id="footer-service-dashboard-id" href="#" title="服务仪表盘">
							服务仪表盘
						</a>
					</li>
					<li>
						<a id="footer-legal-id" href="#" title="法律">
							法律
						</a>
					</li>
					<li>
						<a id="footer-sla-id" href="#" title="服务级别协议">
							服务级别协议
						</a>
					</li>
					<li>
						<a id="footer-icp-id" href="#" title="ICP 备案">
							ICP 备案
						</a>
					</li>
					<li>
						<a id="footer-support-faq-id" href="#" title="常见问题">
							常见问题
						</a>
					</li>
					<li>
						<a id="footer-news-id" href="#" title="最新公告">
							最新公告
						</a>
					</li>
					<li>
						<a href="#" target="_blank" title="数据清单编辑器">
							数据清单编辑器
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</footer>
<!--页脚 end-->
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/dataSource/dataSourceSettingTable.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" src="../js/dataSource/dataSourceSetting.js"></script>
	<script type="text/javascript" src="../js/bootstrap-select2.js"></script>
	<script type="text/javascript" src="../js/bootstrap-select2-zh-CN.js"></script>
</body>
</html>