#bodyDiv{
    width: 3840px;
    height: 1080px;
    margin: 0px;
    padding: 0px;
    background: #fbfff8 no-repeat url("../../img/bigscreenshow/showNew1.jpg");
}
/*.tooltip{
    position: absolute;
    width: 120px;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}*/

.test{
    height: 100%;
}

.table > tbody > tr > td {
    color: #ffffff;
    border-top : 0px;
    text-align: center;
    /*background-color: #1c89ce;*/
}
.table > thead > tr > th {
    color: #ffffff;
    background-color: #1c89ce;
    border-bottom:0px;
    text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #0e5c95;
}
.table-hover > tbody > tr:hover {
    background-color: #35649D;
}

.tda {
    border-left: 1px #ffffff dotted;
}


.panel{
    background-color: transparent;
}
.panel-default{
    border: 0px;
}

.panel-default > .panel-heading-1{
    color: #ffffff !important;
    background-color: #ff9d48 !important;
    border: 0px;
}

.panel-default > .panel-heading-2{
    color: #ffffff !important;
    background-color: #23cd62 !important;
    border: 0px;
}

.panel-body2{
    color: #ffffff;
    background: -webkit-linear-gradient(top, rgba(14,92,149,1), rgba(14,92,149,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, rgba(14,92,149,1), rgba(14,92,149,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, rgba(14,92,149,1), rgba(14,92,149,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, rgba(14,92,149,1), rgba(14,92,149,0)); /* 标准的语法（必须放在最后） */
}

.e_circle {
    fill: none;
    stroke-width: 2.5px;
}
h1{
    text-align: center;
    margin: 1px 1px;
    color: #ffffff;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.panel{
    margin-bottom: 5px;
    margin-top: 0px;
}
.panel-body{
    padding: 5px;
}
.panel-title > p{
    font-size: 12px;
    margin: 3px 5px;
}

.col-md-4,.col-md-6,.col-md-12{
    padding-left: 0px;
    padding-right: 11px;
}

.dash-border{
    border: #9bbeff dashed 1px;
}
.img-text1{
    font-size: 18px;
    fill: #ffffff;
}
.img-text2{
    font-size: 18px;
    fill: #00ff05;
}
.img-text3{
    font-size: 24px;
    fill: #ff0029;
}
.no_click_circle{
    r:7;
    stroke-width: 5;
}
.click_circle{
    r:11;
    stroke-width: 2;
}