<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../frame/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bigscreenshow/bigScreenShow.css"/>


    <script src="../js/core/jquery-1.9.1.js"></script>
    <script src="../frame/bootstrap/js/bootstrap.min.js"></script>
    <script src="../frame/d3/d3.v3.min.js"></script>

    <script src="../js/bigscreenshow/publicTool.js"></script>
    <script src="../js/bigscreenshow/lineChart.js"></script>


    <style>


    </style>
</head>
<body>
<div id="bodyDiv" class="container">
    <div class="row" style="height: 80px;">
        <!--<h1>公共服务中心气象服务数据业务综合展示系统</h1>-->
    </div>
    <div class="row" style="height: 1000px;">
        <div class="col-md-4 test">
            <!--<img height="100%" width="100%" src="./bigScreenShow/left-s.png">-->
        </div>
        <div class="col-md-4 test">
            <div class="row" id="mapDiv" style="height: 85%;"></div>
            <div class="row" id="tableDiv" style="height: 15%;margin-left: 66px;">
                <div class="col-md-10">
                    <table class="table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th class="tda">站号</th>
                            <th class="tda">异常信息</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_map">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-4 test">
            <!--<img height="100%" width="100%" src="./bigScreenShow/right-s.png">-->
            <div class="col-md-12" style="height: 33%;top: 55px;">
                <table id="centerDataTable" class="table table-condensed table-striped "
                       style="width: 99%;height: 100%;">
                    <thead>
                    <tr>
                        <th class="th1">时空分辨率</th>
                        <th class="th2">主要要素</th>
                        <th class="th3">加工系统</th>
                        <th class="th4">采集</th>
                        <th class="th5">处理</th>
                        <th class="th6">分发</th>
                    </tr>
                    </thead>
                    <tbody id="centerDataTbody">
                    <!--<tr>-->
                        <!--<td colspan="6" style="padding: 0px;"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="td1">1公里,15天时长/逐1小时</td>-->
                        <!--<td class="td2">风、温、湿、水、云、天</td>-->
                        <!--<td class="td3">精细化预报(OCF)</td>-->
                        <!--<td class="rect_td td4">-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1 rect_ok1"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td5">-->
                            <!--<span>订正</span>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td3 rect_ok2"></div>-->
                            <!--<div></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td6">-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3 rect_ok3"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="td1">1公里,30分钟时长/逐10分钟</td>-->
                        <!--<td class="td2">风、温、湿、压、水、能</td>-->
                        <!--<td class="td3">快速地面融合(RGF)</td>-->
                        <!--<td class="rect_td td4">-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1 rect_ok1"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td5">-->
                            <!--<span>订正</span>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td3 rect_error"></div>-->
                            <!--<div></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td6">-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3 rect_ok3"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="td1">1公里,2小时时长/逐5小时</td>-->
                        <!--<td class="td2">风、水</td>-->
                        <!--<td class="td3">分钟降水预报(MQPF)</td>-->
                        <!--<td class="rect_td td4">-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1 rect_ok1"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td5">-->
                            <!--<span>订正</span>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td3 rect_ok2"></div>-->
                            <!--<div></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td6">-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3 rect_ok3"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="td1">1公里,0小时时长/逐1小时</td>-->
                        <!--<td class="td2">风、温、湿、水</td>-->
                        <!--<td class="td3">格点实况(LAPS)</td>-->
                        <!--<td class="rect_td td4">-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1 rect_ok1"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td5">-->
                            <!--<span>订正</span>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td3 rect_ok2"></div>-->
                            <!--<div></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td6">-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3 rect_ok3"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="td1">1公里,30分钟时长/逐10分钟</td>-->
                        <!--<td class="td2">风、水</td>-->
                        <!--<td class="td3">强对流(SCW)</td>-->
                        <!--<td class="rect_td td4">-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1"></div>-->
                            <!--<div class="rect_td1 rect_ok1"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td5">-->
                            <!--<span>订正</span>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td2"></div>-->
                            <!--<div class="rect_td3 rect_ok2"></div>-->
                            <!--<div></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                        <!--<td class="rect_td td6">-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3"></div>-->
                            <!--<div class="rect_td3 rect_ok3"></div>-->
                            <!--<span>80%</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" style="height: 280px ; top: 105px;">
                <div class="col-md-6" style="height: 280px; ">
                    <div class="dash-border" id="flume_data1" style="width: 100%;height: 280px ;"></div>
                </div>
                <div class="col-md-6" style="height: 100%">
                    <div class="dash-border" id="flume_data" style="width: 100%;height: 280px ;"></div>
                </div>
            </div>
            <div class="col-md-12" style="height: 33%; top: 160px;">
                <svg id="svg1"></svg>
            </div>
        </div>
    </div>
</div>

<!--<div id="tooltip" class="tooltip" ></div>-->
<script src="../js/bigscreenshow/bigScreenShow.js"></script>
<script src="../js/bigscreenshow/Map.js"></script>
<script>

    data_zhongxinjiagong();
    data_jishuju();

    setTimeout(function () {
        console.info("开始执行。。")
        lineCharScript("#flume_data1", "1");
        lineCharScript("#flume_data", "2");
    },1000);
    setTimeout(function () {
        $("#grad_circle_1").attr("class","click_circle");
        showLeiDa(1);
    },2000);

</script>
</body>
</html>