<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>告警配置</title>
<link rel="stylesheet" href="../css/bootstrap_3.3.7.css" />

<link rel="stylesheet" href="../css/bootstrap-select.css"></link>
	<link rel="stylesheet" href="../css/pjpz.css" />

<style>
	dd>a {
		color: rgba(54, 159, 255, 0.97);
		margin-left: 5px;
	}


	.form-control {
		border: none;
		-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
		box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
	}
	.form-attribute{ border:none; background-color:#edf8fa; color:#007d98;}
	.modal-content,.modal-body{ /*background-color:#fff;*/ width:710px;}
	.form-group input{ /*border:solid 1px #007d98;*/}
	.little-title{ display:block; width:848px;color:#007d98; font-size:14px; font-weight:bolder; margin-left:15px; padding-top:10px; /*border-top: dashed 1px #CCCCCC;*/ margin-top:10px;}
	.area{background-color:#edf8fa; width:680px; padding-top:10px; padding-bottom:10px;}
	.top-option-border{ border:solid 1px #ccc;}

</style>
</head>
<body style="background-color: #fffacd;">
<div style="position: relative; left: 5%; top: 30px;">
<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#home" data-toggle="tab">
		<h4>告警决策配置</h4>
	</a></li>
	<li><a href="#ios" data-toggle="tab"><h4>用户组配置</h4></a></li>
	<li><a href="#ad" data-toggle="tab"><h4>发布模板配置</h4></a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<!--告警策略配置-->
	<div class="tab-pane fade in active" id="home"
		 style="background-color: white; height: 700px; width: 90%;">
		<div>
				<span
						style="background-color: #cbcedb; font-size: 20px; border-radius: 10px;">查询表信息</span>
		</div>
		<div style="margin: 10px 40px">
			<div
					style="width: 150px;float: left;margin: 5px 20px;">
				数据类型 <select class="form-control top-option-border" id="basic_ifo" title="数据资源"
							 onchange="onchangeSelect(this)">

			</select>
			</div>
			<div
					style="width: 150px;float: left;margin: 5px 20px;">
				业务名/IP <select class="form-control top-option-border" id="basic_ifo1" title="业务名/IP"
							   onchange="onchangeSelect(this)">

			</select>
			</div>
			<div
					style="width: 150px;float: left;margin: 5px 20px;">
				<span id="hjName">资料名</span> <select class="form-control top-option-border"
													 id="basic_ifo2" title="资料名" onchange="onchangeSelect(this)">
			</select>
			</div>
			<!--
            <div
                    style="width: 150px;float: left;margin: 5px 20px;"
                    id="zlName">
                <span>环节</span> <select class="form-control" id="basic_ifo3"
                                        title="环节名">

            </select>
            </div>
            -->
			<div style="float: left;margin: 25px 20px 0;">
				<button type="button" class="btn btn-success"
						onclick="alertStrategy_Search()">查询</button>
			</div>
			<div style="float: left;margin: 25px 20px 0;">
				<button type="button" class="btn btn-success" data-toggle="modal"
						data-target="#big_m" onclick="addalertStrategy()">添加告警策略</button>
			</div>
		</div>
		<div
				style="position: absolute; left: 50px; top: 230px; height: 500px; overflow: auto;">
			<table class="table table-bordered"
				   style="text-align: center; width: 900px; font-size: 18px"
				   id="dataTable">
			</table>
		</div>
	</div>
	<!--用户组配置-->
	<div class="tab-pane fade" id="ios"
		 style="height: 700px; width: 90%; background-color: white">
		<div class="userDiv">
			组名:
			<select class="form-control top-option-border"  name="user_group" id="user_group" style=""></select>
			<br />
		</div>
		<div class="userDiv">
			用户名:<input class="form-control top-option-border" type="text" id="user_name" /><br />
		</div>
		<div class="userDiv">
			手机号:<input class="form-control top-option-border" type="text" id="user_phone" /><br />
		</div>
		<div class="userDiv">
			公众号:<input class="form-control top-option-border" type="text" id="user_wechart" /><br />
		</div>
		<div class="userDiv" style="margin-top: 40px;">
			<button type="button" class="btn btn-success"
					onclick="searchUser()">确认查询</button>
		</div>
		<div class="userDiv" style="margin-top: 40px;">
			<button type="button" class="btn btn-success btn-primary"
					data-toggle="modal" data-target="#ueserAdd">添加用户</button>
		</div>
		<div
				style="position: absolute; left: 50px; top: 230px; height: 500px; overflow: auto;">
			<table id="userTable" class="table table-bordered"
				   style="text-align: center; width: 780px; font-size: 18px">
				<th>
				<td>组名</td>
				<td>用户名</td>
				<td>操作</td>
				</th>
			</table>
		</div>
	</div>
	<!--发布模板配置-->
	<div class="tab-pane fade" id="ad"
		 style="height: 700px; width: 90%; background-color: white">
		<div style="width: 200px; position: relative; left: 25px; top: 20px">
			模板名:<input class="form-control top-option-border" type="text" id="tempName" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 236px; top: -54px">
			模板种类:<input class="form-control top-option-border" type="text" id="tempType" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 448px; top: -128px">
			微信号:<input class="form-control top-option-border" type="text" id="tempWechart" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 660px; top: -202px">
			手机号:<input class="form-control top-option-border" type="text" id="tempSms" /><br />
		</div>
		<div style="position: relative; left: 30px; top: -190px;">
			<button type="button" class="btn btn-success"
					onclick="searchTemp()">模板查询</button>
		</div>
		<div style="position: relative; left: 250px; top: -225px;">
			<button type="button" class="btn btn-success btn-primary"
					data-toggle="modal" data-target="#tempAdd">添加模板</button>
		</div>

		<div
				style="height: 500px; overflow: auto; position: relative; left: 30px; top: -200px; width: 95%;">
			<table class="table table-bordered" id="table_send">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>



	<!--弹框配置发布信息-->
</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
 aria-labelledby="myLargeModalLabel" id="big_m">
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-body">
			<div style="width: 150px; float: left; margin-left: 50px;">
				数据种类 <select class="form-control top-option-border" title="数据源" id="pzAddSelect1"
							 onchange="onchangeSelect2(this)">
				<option></option>
			</select> <input type="hidden" id="selectTypeHidden" value="" />
			</div>
			<div style="width: 150px; float: left; margin-left: 50px;">
				<span id="hjName2">业务名/IP</span> <select class="form-control top-option-border"
														 title="业务名/IP" id="pzAddSelect2" onchange="onchangeSelect2(this)">
				<option></option>
			</select>
			</div>
			<div style="width: 150px; float: left; margin-left: 50px; margin-bottom: 10px;">
				<span id="hjName3">资料名</span> <select class="form-control top-option-border"
													  title="资料名" id="pzAddSelect3" onchange="onchangeSelect2(this)">
				<option></option>
			</select>
			</div>

			<div style="float: left; width: 177px;display: none; margin-top: 23px;margin-left: -150px;" id='baseSourceIp'>
				ip:<input type="text" id="ip" />
			</div>
			<div class="alert alert-warning" style="display: none;  margin-top: 57px; margin-bottom: -15px;font-size: 11px;height: 57px;" id="tip_cjf" role="alert">
				<img src="../imsg/warning.png" style="display:block; float:left; margin-top:3px;margin-right: 10px;" />
				<span style="margin-left: 10px;">(有规律的填写与时次的差值，无规律的填写多个时次不同的差值，中间用英文逗号分开,报警时间段格式'00:00:00-23:59:59')</span>
			</div>


			<table id="table_cjf" style="width: 97%; overflow: auto;">

			</table>
			<div id="startegysDiv">
				<span class="little-title">发布策略</span>
				<div class="area" >
					<div class="row" style="margin-left: 10px;">
						<div class="form-control form-attribute"
							 style=" width: 100px; float: left;">用   户:</div>
						<div style="width: 170px; float: left;">
							<select class=" form-control " title="用户" width="400px"
									id="selectUser">
								<option>用户A</option>
								<option>用户B</option>
							</select>
						</div>

						<div class="form-control form-attribute"
							 style="width: 100px; float: left;margin-left: 20px;">发布模板:</div>
						<div style="width: 170px; float: left;">
							<select class=" form-control" title="模板" width="400px"
									id="selectTemp" onchange="changeContent()">
								<option>模板1</option>
								<option>模板2</option>
							</select>
						</div>

					</div>

					<div class="row" style="margin-left: 10px; margin-top:10px;">
						<div class="form-control form-attribute"
							 style="width: 100px;float:left; margin-top:20px;">发布内容:</div>
						<div style="float:left; width:530px;  margin-top:20px;">
							<label class="checkbox-inline"> <input type="checkbox"
																   id="inlineCheckbox1" value="option1" name="inlineCheckbox" disabled="disabled" />
								微信
							</label>

							<textarea class="form-control" rows="7" name="usersm"
									  id="tempWc" readonly="readonly"  />
						</div>
						<div style="float:left; width:530px;  margin-top:10px; margin-left:100px;">
							<label class="checkbox-inline"> <input type="checkbox"
																   id="inlineCheckbox2" value="option2" name="inlineCheckbox" disabled="disabled"  />
								短信
							</label>
							<textarea class="form-control" rows="7" name="usersm"
									  id="tempSm" readonly="readonly" />
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-success" onclick="pzsave()"
					id="pzsave">保存</button>
		</div>
	</div>

</div>
</div>

<!--修改模态框-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
 aria-labelledby="mySmallModalLabel" id="sm_m">
<div class="modal-dialog modal-sm" role="document">
	<div class="modal-content" style="width: 600px; height: 400px;">
		<form action="/pjpz/toupdate">
			<input type="hidden" value="id" name="id" id="id_v" />
			<div
					style="position: absolute; left: 20px; top: 20px; width: 200px">
				模板名：<input id="name_upd" class="form-control top-option-border" type="text"
						   name="name" />
			</div>
			<div
					style="position: absolute; left: 250px; top: 20px; width: 200px">
				<span>数据源</span> <select class="form-control top-option-border" title="资源类型"
										 id="type_upd" name="type" width="50px">
				<option value="业务数据">业务数据</option>
				<option value="测试数据">测试数据</option>
			</select>
			</div>
			<div
					style="position: absolute; left: 20px; top: 180px; width: 200px">
				<label for="name"></label>
				<textarea class="form-control top-option-border" rows="3" name="wechart_content"
						  id="wechart_content_upd"></textarea>
			</div>
			<div
					style="position: absolute; left: 20px; top: 100px; width: 200px">
				是否发送微信 <select class="form-control top-option-border" title="是否发送" id="weixin_upd"
							   name="wei_send" width="50px">
				<option value="1">发送</option>
				<option value="0">不发送</option>
			</select>
			</div>
			<div
					style="position: absolute; left: 250px; top: 180px; width: 200px">
				<label for="name"></label>
				<textarea class="form-control top-option-border" rows="3" name="sns_content"
						  id="sns_content_upd"></textarea>
			</div>
			<div
					style="position: absolute; left: 250px; top: 100px; width: 200px">
				是否发送短信 <select class="form-control top-option-border" title="是否发送" id="sms_upd"
							   name="sms_send" width="50px">
				<option value="1">发送</option>
				<option value="0">不发送</option>
			</select>
			</div>
			<div
					style="position: absolute; left: 370px; top: 400px; width: 200px">
				<input type="submit" class="btn btn-success" id="toadd_upd"
					   value="确认修改"></input>
			</div>
		</form>
	</div>
</div>
</div>
<!--添加用户信息-->
<div class="modal fade bs-example-modal-lg" id="ueserAdd" tabindex="-1"
 role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content"
		 style="height: 380px; width: 500px; position: absolute; left: 20%; top: 50%;">

		<div style="width: 200px; position: relative; left: 25px; top: 20px">
			用户名:<input class="form-control top-option-border" type="text" name="username"
					   id="username" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 236px; top: -54px">
			分配组:<br /> <select class="" title="分配组" name="usergroup"
							   id="usergroup" style="width: 100px; height: 33px;">
		</select>
		</div>
		<div
				style="width: 200px; position: relative; left: 25px; top: -50px">
			手机号:<input class="form-control top-option-border" type="text" name="userphone"
					   id="userphone" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 237px; top: -124px">
			邮箱:<input class="form-control top-option-border" type="text" name="useremail"
					  id="useremail" /><br />
		</div>
		<div
				style="width: 200px; position: relative; left: 25px; top: -140px">
			公众号:<input class="form-control top-option-border" type="text" name="usergzh"
					   id="usergzh" /><br />
		</div>
		<div class="form-group"
			 style="position: relative; left: 25px; top: -140px; height: 300px; width: 250px">
			<label for="name">说明:</label>
			<textarea class="form-control top-option-border" rows="3" name="usersm" id="usersm"></textarea>
		</div>
		<div style="position: absolute; left: 350px; top: 275px;">
			<button type="button" class="btn btn-success" onclick="addUser()">确认提交</button>
		</div>

	</div>
</div>
</div>
<!--添加发布模板-->
<div class="modal fade bs-example-modal-lg" id="tempAdd" tabindex="-1"
 role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content"
		 style="height: 500px; width: 500px; position: absolute; left: 20%; top: 50%;">


		<div style="width: 200px">
			<span style="position: relative; left: 10px; top: 13px">模板名:</span><input
				style="position: relative; left: 69px; top: -13px"
				class="form-control top-option-border" type="text" id="name" name="name" />
		</div>
		<div style="position: relative; left: 10px; top: 7px; width: 300px">
				<span
						style="position: relative; float: left; top: 5px; margin-right: 12px;">数据源:</span>
			<select class="form-control top-option-border" title="资源类型" id="type" name="type"
					style="width: 200px;">
				<option value="业务数据">业务数据</option>
				<option value="基础资源">基础资源</option>
			</select>
		</div>

		<div
				style="width: 400px; height: 80px; position: relative; left: 10px; top: 22px">
			<dl id="dl_document">
				<dt>字段选择</dt>
				<dd>
					<a>[yyyy-MM-dd HH:mm:ss]</a> <a>[数据源]</a><a>[业务名]</a><a>[资料名]</a><a>[资料时次]</a><a>[环节]</a><a>[路径]</a>
					<a>[错误信息]</a><a>[错误详情]</a><a>[IP]</a> <a>[影响的业务]</a><a>[处理方案]</a>

				</dd>

			</dl>
		</div>
		<div style="width: 400px; position: relative; left: 10px; top: 22px">
			<input type="checkbox" id="wechart_send_c"
				   onclick="checkClick('wechart_send_c')" />微信 <input type="hidden"
																	  name="wechart_send" id="wechart_send" value="0" />
			<textarea class="form-control top-option-border" rows="5" name="wechart_content"
					  id="wechart_content"></textarea>
		</div>
		<div style="width: 400px; position: relative; left: 10px; top: 22px">
			<input type="checkbox" id="sms_send_c"
				   onclick="checkClick('sms_send_c')" />短信 <input type="hidden"
																  name="sms_send" id="sms_send" value="0" />
			<textarea class="form-control top-option-border" rows="5" name="sns_content"
					  id="sns_content"></textarea>
		</div>
		<div style="position: absolute; left: 380px; top: 453px;">
			<button class="btn btn-success" value="确认添加" onclick="addTemple()">确认添加</button>
		</div>
	</div>
</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
 aria-labelledby="myLargeModalLabel" id="alertStrategy_look">
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">策略详情</h4>
		</div>
		<div class="modal-body">
			<!--告警策略表格-->
			<table class="table table-bordered table-hover"
				   id="strategyDescTable">
				<tr>
					<td colspan="3">
						<span>辅助决策</span> - <span>雷达</span>
					</td>
				</tr>
				<tr>
					<td rowspan="4">采集</td>
					<td>时次表达式</td>
					<td></td>
				</tr>
				<tr>
					<td>间隔规律</td>
					<td></td>
				</tr>
				<tr>
					<td>应到时间</td>
					<td></td>
				</tr>
				<tr>
					<td>超时阈值</td>
					<td></td>
				</tr>
				<tr>
					<td rowspan="4">分发</td>
					<td>时次表达式</td>
					<td></td>
				</tr>
				<tr>
					<td>间隔规律</td>
					<td></td>
				</tr>
				<tr>
					<td>应到时间</td>
					<td></td>
				</tr>
				<tr>
					<td>超时阈值</td>
					<td></td>
				</tr>
				<tr>
					<td rowspan="3">告警策略</td>
					<td>
						发送用户：<span>全部</span>
					</td>
					<td>
						发布模板：<span>报警</span>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						微信模板：
						<textarea class="form-control top-option-border" rows="5" readonly="readonly"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						短信模板：
						<textarea class="form-control top-option-border" rows="5" readonly="readonly"></textarea>
					</td>
				</tr>
			</table>
			<!--
			<table class="table table-bordered table-hover"
				   id="strategyDescTable">
				<tr>
					<td width="100px">业务名：</td>
					<td width="300px" id="serverNameTd"></td>
					<td width="100px">资料名：</td>
					<td width="300px" id="dataNameTd"></td>
				</tr>
				<tr>
					<td>环节名：</td>
					<td id="moduleNameTd"></td>
					<td>策略名：</td>
					<td id="strategyNameTd"></td>
				</tr>
				<tr>
					<td>发送微信：</td>
					<td id="sendWeichartTd"></td>
					<td>发送短信：</td>
					<td id="sendSMSTd"></td>
				</tr>
				<tr>
					<td colspan="2"><textarea class="form-control"
											  style="margin: 5px;" rows="5" id="wechartTextTd"
											  readonly='readonly'></textarea></td>
					<td colspan="2"><textarea class="form-control"
											  style="margin: 5px;" rows="5" id="smsTextTd"
											  readonly='readonly'></textarea></td>
				</tr>
			</table>
			-->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		</div>
	</div>
</div>
</div>
<script src="../js/jquery2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap-select.js"></script>
<script src="../js/bootstrap_3.3.7.js"></script>
<script type="text/javascript" src="../js/pjpz_1.js"></script>
</body>
</html>