<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <script src="../js/core/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var socket;
        if (typeof (WebSocket) == "undefined"){
            alert("This explorer don't support WebSocket")
        }

        function connect() {
            //Connect WebSocket server
            socket =new WebSocket("ws://localhost:8090/wbSocket");
            //open
            socket.onopen = function () {
                console.log("WebSocket is open");
            }
            //Get message
            socket.onmessage = function (msg) {
                console.log("Message is " + msg.data);
                var p = "<p>"+msg.data+"</p>";
                $("#messageDiv").after(p);
            }
            //close
            socket.onclose = function () {
                alert("WebSocket is closed");
            }
            //error
            socket.onerror = function (e) {
                alert("Error is " + e);
            }
        }

//        function close() {
//            socket.close();
//        }
//
//        function sendMsg() {
//            socket.send("This is a client message ");
//        }


        $(function () {
            connect();
        })
    </script>

</head>
<body>
<div id="messageDiv"></div>
</body>
</html>