<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>告警台</title>
<link rel="stylesheet" type="text/css" href="../css/div.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrapcss.css"></link>
<link rel="stylesheet" type="text/css" href="../css/jqueryuicss.css"></link>
<script src="../js/jquery2.1.1.js"></script>
<script src="../js/bootstrap3.3.7.js"></script>
<script src="../js/jqueryui1.10.4.js"></script>
<script src="../js/cc.js"></script>
<script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
</script>
</head>
<body>
	<div id="div" class="div">
	<h1>气象业务综合监控系统</h1>
	</div>
	<div id="div0" class="div0">
		<div id="div1" class="div1">
		
		<span  style="width:50;padding-left:26px;padding-top:42px;font-size:25px;color:#ffffff;display:inline-block;">告警类型</span>
		<hr></hr>
		<div style="width:44px;height:41px;background:red;position:relative;left:162px;top:-65px; "></div>
		<div style="width:44px;height:41px;background:#ff8040;position:relative;left:210px;top:-106px; "></div>
		<div style="width:44px;height:41px;background:#ffff00;position:relative;left:258px;top:-147px; "></div>
		
		<div id="accordion" style='width:500px;background:#0080ff;border:0px;position:absolute;left:-10px;top:100px;'>
			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>数据全流程
			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:58px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;height:215.8px;'>
  		     <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:17px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
 			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>核心业务系统
 			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:42px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		    <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
  			
 			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>国家资源池
 			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:58px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		     <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
  			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>高性能计算机
  			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:42px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		     <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
  			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>网络与信息安全
  			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:27px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		   <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
  			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>备份中心
  			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:73px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		    <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
  			<h3 style='color:#ffffff;background:#0080ff;border:0px solid #000'>场地环境
  			<span style="background-color:#ffffc8;padding-left:17px;padding-right:17px;margin-left:72px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:18px;margin-left:-1px;color:#000000">0</span>
			<span style="background-color:#ffffc8;padding-left:16px;padding-right:16px;margin-left:-2px;color:#000000">6</span></h3>
  		<div style='background:#0080ff;color:#ffffff;border:0px;'>
  		    <ul style="color:#cdcdcd;line-height:31px;margin-top: 16px;">
     		 <li style="margin:-30px 9px -10px -31px;list-style:none;">数据采集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据收集
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据分发
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据质量
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">数据存储
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:64px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
     		 <li style="margin:17px 9px -10px -31px;list-style:none;">业务系统前处理
     		 <span style="background-color:#e6ffec;padding-left:17px;padding-right:17px;margin-left:18px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:18px;margin-left:-2px;color:#000000">0</span>
			 <span style="background-color:#e6ffec;padding-left:16px;padding-right:16px;margin-left:-1px;color:#000000">1</span></li>
    		 </ul>
  		</div>
		</div>	
			
		</div>
		
		<div id="d2_1_1" class="d2_1_1">待处理的警告</div><div id="d2_1_2" class="d2_1_2">处理中的警告</div><div id="d2_1_3" class="d2_1_3">已处理的警告</div>

		<div id="div2_2" class="div2_2">
			<table id="table_total" class="table_total">
				<tr><td height="50px"><input type="checkbox"/></td><td>告警类型</td><td>等级</td><td>第一次发生时间</td><td>告警来源</td><td>告警地址</td><td>告警次数</td><td>处理状态</td><td>告警描述</td><td>解决方式</td></tr>
				<tr><td><input type="checkbox"/></td><td>2</td><td>3</td><td>2017-03-03 11:26:12</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr>
				
			</table>
		</div>
		<div id="div3" class="div3">
		<table id="table_renwu">
		<tr><td><h3>相关任务</h3><hr></hr></td></tr>
		
		<tr><td><span style="background-color:#0000ff;font-size:20px;padding-left:20px;padding-right:86px;border-radius:10px">警告处理</span></td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>确认警告</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>清除警告</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>删除指定告警</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>条件删除告警</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>派发工单</td></tr>
		<tr><td><span style="background-color:#0000ff;font-size:20px;padding-left:20px;padding-right:105px;border-radius:10px">工具箱</span></td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>历史告警查询</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>知识库</td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>排班</td></tr>
		<tr><td><span style="background-color:#0000ff;font-size:20px;padding-left:20px;padding-right:122px;border-radius:10px">配置</span></td></tr>
		<tr><td style='font-size:17px;padding-left:20px;'>告警发布配置</td></tr>
		</table>
		</div>
		<div id="top_brand" class="top_brand">
		<span style="background-color:#0080ff;color:#ffffff;font-size:18px;padding-left:12px;padding-right:12px;">告警数</span>
		<span style="background-color:#0000ff;color:#ffffff;font-size:18px;padding-left:12px;padding-right:12px;border-radius:5px">全部</span>
		<span style="background-color:#008040;color:#ffffff;font-size:18px;padding-left:16px;padding-right:16px;border-radius:5px">0</span>
		<span style="background-color:#ffa579;color:#ffffff;font-size:18px;padding-left:16px;padding-right:16px;border-radius:5px">0</span>
		<span style="background-color:#f95100;color:#ffffff;font-size:18px;padding-left:16px;padding-right:16px;border-radius:5px">1</span>
		<span style="background-color:#aa3700;color:#ffffff;font-size:18px;padding-left:12px;padding-right:12px;border-radius:5px">15</span>
		<span style="background-color:#ff0909;color:#ffffff;font-size:18px;padding-left:12px;padding-right:12px;border-radius:5px">16</span>
		<span id='gl' onclick="chk1()" style="background-color:#0000ff;color:#ffffff;font-size:18px;padding-left:12px;padding-right:12px;border-radius:5px">字段过滤</span>
		<div id="chsory">
			<table>
			<tr><td><input type="checkbox" name="test" value="1" />告警类型</td>
			<td><input type="checkbox" name="test" value="2" />等级</td></tr>
			<tr><td><input type="checkbox" name="test" value="3" />第一次发生的时间</td> 
			<td><input type="checkbox" name="test" value="4" />告警来源</td></tr>
			<tr><td><input type="checkbox" name="test" value="5" />告警地址 </td>
			<td><input type="checkbox" name="test" value="6" />告警次数</td></tr>
			<tr><td><input type="checkbox" name="test" value="7" />处理状态</td> 
			<td><input type="checkbox" name="test" value="8" />告警描述 </td></tr>
			<tr><td><input type="checkbox" name="test" value="9" />解决方式 </td>
			<td><input type="button" onclick="chk()" value="提 交" /></td></tr>
			</table>
		</div>
		
		<div id="myDropdown" class="dropdown" style='position: absolute;left:480px;top:0px;'>
			<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
				data-toggle="dropdown" style='font-size: 18px;line-height: 0.428571;'>
			报警时间
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick="aa(1)">1小时以内的报警</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='aa(10)'>10小时以内的报警</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='aa(24)'>一天以内的报警</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='aa(72)'>三天以内的报警</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='aa(0)'>全部显示</a>
			</li>
			</ul>
		</div>
		
		<div id="myDropdown" class="dropdown" style='position: absolute;left:596px;top:0px;'>
			<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
				data-toggle="dropdown" style='font-size: 18px;line-height: 0.428571;'>
			分组显示
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='bb(1)'>按类型</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='bb(2)'>按等级</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='bb(3)'>按来源</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='bb(4)'>按状态</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" onclick='bb(5)'>按IP</a>
			</li>
			</ul>
		</div>
		
		
		</div>
		
	</div>
</body>
</html>